body {
    padding: 2%;
}

header #logo{
    width: 80%;
    min-width: 30px;
}

header #cn_banner {
    margin-top: 10px;
}

header #cn_banner img {
    max-height: 500px;
}

header #cn_banner .card-title {
    position: absolute;
    top: 6rem;
    right: 18rem;
    color: white;
    font-size: 2.5rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

header #cn_banner .card-title-1 {
    position: absolute;
    top: 10rem;
    right: 5rem;
    color: white;
    font-size: 2.8rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
#main {
    margin-top: 15px;
}

#main .card-body #crear-mensualidad {
    padding: 25px;
}

#main .card-body #crear-mensualidad #tbl-mensualidad {
    margin-top: 15px;
}

#main .card-body #crear-mensualidad #btn-filtrar {
    border-radius: 30px;
}